* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
}

a {
    color: unset;
    text-decoration: none;
}

.gradient__bg {
    /* global 92%+ browsers support */
    background: radial-gradient(circle at 10% 30%, rgba(100, 65, 165, 1) 0%, rgba(32, 12, 74, 1) 31%);
}

.gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section__padding {
    padding: 4rem 6rem;
}

.section__margin {
    margin: 4rem 6rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  @media screen and (max-width: 700px) {
    .section__padding {
        padding: 4rem;
    }
    .section__margin {
        padding: 4rem;
    }
  }

  @media screen and (max-width: 550px) {
    .section__padding {
        padding: 4rem 2rem;
    }
    .section__margin {
        padding: 4rem 2rem;
    }
  }
  

  
.background {
  -webkit-animation: pulse 5s infinite;
  animation: pulse 5s infinite;
  overflow: hidden;
  z-index: 0;
}


.square {
  border: 10px dashed rgba(100, 65, 165, 1);
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.sq2{
  animation: move1 180s infinite;
  animation-timing-function: linear;
  width: 800px;
  height: 800px;
}

@keyframes move1 {
  0% {
    transform: rotate(0deg);
    opacity: 0.5;
  }
  
  50% {
    width: 1000px;
    height: 1000px;
  }
  
  100% {
     transform: rotate(1000deg);
    opacity: 1;
  }
  }

.sq3 {
  width: 500px;
  height: 500px;
  animation: move1 120s infinite;
  animation-timing-function: linear;
}

.sq1 {
  width: 300px;
  height: 300px;
  animation: move1 100s infinite;
  animation-timing-function: linear;
}